#footer{
    width: 90%;
    height: 240px;
    z-index: 1;
    position: absolute;
    bottom: 0;
   border-top: 3px solid grey;
    border-top-right-radius: 20px ;
    border-right: 2px solid grey;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
