#headerHolder{
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #100e0e;
    border-top-right-radius: 20px;
}
#headerHolder>header{
    width: 100%;
    height: 70px;
    border-bottom: 3px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-top-right-radius: 20px;
    color: white;
    border-left: 2px solid grey;
    border-bottom-left-radius: 20px;

}
#navHolder{
    width:350px;
    height: 100%;
    margin-left: 30px;
}
#navHolder>a{
    text-decoration: none;
    color: black;
}
#navHolder>a:hover{
    border-bottom: 2px solid;
}
#userAccHolder{
    margin-right: 30px;
}
#searchFormHolder{
    width: 400px;
    height: 60px;
    border: 3px solid black;
    display: flex;
    margin-left: 400px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.searchDiv{
    height: 40px;
    width: 170px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchDiv:hover{
    border: 3px solid #ffd43b;
    outline: none;
    box-shadow:
            inset 0 0 10px rgba(255, 102, 0, 0.5),
            inset 0 0 10px rgba(255, 212, 59, 0.5),
            0 0 100px rgba(255, 212, 59, 0.5),
            0 0 100px rgba(255, 102, 0, 0.5);
}