#headerHolder{
    width: 100%;
    height: 70px;
}
#headerHolder>header{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#navHolder{
    width:350px;
    height: 100%;
    margin-left: 30px;
}
#navHolder>a{
    text-decoration: none;
    color: black;
}
#navHolder>a:hover{
    border-bottom: 2px solid;
}
#userAccHolder{
    margin-right: 30px;
}