#favoriteHolder{
    width: 100%;
    height: 1400px;
    margin-top: 20px;
    text-align: center;
}
#favoriteMovies, #favoriteTVs{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}
#message{
    color: white;
}
#favoriteMovies>div, #favoriteTVs>div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
    position: relative;
}
#favoriteMovies>h2, #favoriteTVs>h2{
    color: white;
}
.message{
    margin-left: 80px;
    margin-top: 100px;
    color: white;
}