@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #151010;
}

#wrap{
    width: 94vw;
    margin: 2vh 4vw 2vh 2vw;
    min-height: 150vh;
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
}
#infoHolder{
    width: 100%;
    height: 90%;

    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#menuHolder{
    width: 10%;
    height: 800px;
    border-right: 1px solid grey;
}
#mainAndHeaderHolder{
    width: 90%;
    height: 100%;
    border-top-right-radius: 20px;
}
#mainAndHeaderHolder>main{
    width: 100%;
    height: 100%;
}