#logoCircle{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: 3px black solid;
    transition: all 0.4s ease-in;
    background-color: white;
;
}
#logoCircle>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logoCircle {
    transition: 1s;
}
#logoCircle:hover{
    transform: rotate(180deg);
}
